<main>
  <div class="container-fluid">

      <div class="pt-1 pb-2 row justify-content-center">
        <img class="col-4 col-lg-3 img-fluid" src="https://darsanech.github.io/pokegames/assets/tipos/{{data.condicion1|titlecase}}.png">
        <input class="col-4" type="search" id="filters" [(ngModel)]="filteredname" placeholder="Buscar!"> 
        <img class="col-4 col-lg-3 img-fluid" src="https://darsanech.github.io/pokegames/assets/tipos/{{data.condicion2|titlecase}}.png">
      </div>
    
    <div class="row">
        <div class="col-sm-4 col-md-3 col-6 d-flex align-items-center justify-content-center" *ngFor="let pokemon of pokemons | filter:filteredname">
          <div>
            <button class="wfguess" (click)="selectweapon(pokemon.url,data.nombre)">
              <img class="img-fluid" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url}}.png" 
              alt={{pokemon.url}}
              onerror="this.onerror=null; this.src='https:/darsanech.github.io/pokegames/assets/sprites/miss.png'" >
            </button>
            <p class="text-center text-capitalize">{{pokemon.name}}</p>
          </div>
        </div>
    </div>
  </div>

</main>
