/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.zonaDrag {
  width: 400px;
  height: 350px;
  border: 2px solid black;
  background-color: aliceblue;
  position: relative;
}

.imagen {
  width: 100px;
  height: 100px;
  position: absolute;
}

.selection-grid{
  display: grid;  
    grid-template-columns: 20% 20% 20% 20% 20% ;
    gap: 5px;
    padding: 5px;
    position:relative;
}
.grid-item:hover img {
  opacity: 100;
  pointer-events: none;
}
.grid-item:hover p {
  opacity: 100;
  pointer-events: none;
}

.principalpage{
  display:grid;
}

.guessgrid{
    display: grid;
    grid-template-columns: 5% 30% 30% 30%   ;
    grid-template-rows:  5% 30% 30% 30%   ;
    gap: 10px;
    
    }
    
.grid-item {
    background-color: cream;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 20px;
    text-align: center;
  }
.skillr{
  align-items: center;
  align-self: center;
  align-content: center;
  font-weight: 200;
  text-align: center;
  padding: 10px;
}
.wfguess{
  background-color: #008CBA;
}
.correct{
  background-color: greenyellow;
}
.incorrrect{
  background-color: red;
}