/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* general */

.wfguess{
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  background: linear-gradient(
    to top,
      white 0%,
      white 45%,
      black 46%,
      black 54%,
      red 55%,
      red 100%
  );
}




