<div
  id="zona1"
  class="zonaDrag"
  (drop)="drop($event, 'zona1')"
  (dragover)="allowDrop($event)"
>
  <img
    id="pokemon1"
    src="../../assets/sprites/koraidon.png"
    draggable="true"
    (dragstart)="drag($event)"
    class="imagen"
  />
  <img
    id="imagen2"
    src="../../assets/sprites/miraidon.png"
    draggable="true"
    (dragstart)="drag($event)"
    class="imagen"
  />
</div>
<div
id="zona2"
  class="zonaDrag"
  (drop)="drop($event, 'zona2')"
  (dragover)="allowDrop($event)"
  ></div>