<main>
      <div class="center" style="margin: 5px;">
        <img class="skillr" src="https://darsanech.github.io/pokegames/assets/tipos/{{inputdata.tipo1|titlecase}}.png">
        <input style="margin: 5px;" type="search" id="filters" [(ngModel)]="filteredname" placeholder="Buscar"> 
        <img class="skillr" src="https://darsanech.github.io/pokegames/assets/tipos/{{inputdata.tipo2|titlecase}}.png">
      </div>
    
    <div class="selection-grid center">
        
        <div class="select-item wfguess" *ngFor="let pokemon of pokemons | filter:filteredname">
                    <button class="pokeball" (click)="selectweapon(pokemon.url,inputdata.space)">
                        <img class="pokeball" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.url}}.png" 
                        alt={{pokemon.url}}
                        onerror="this.onerror=null; this.src='https:/darsanech.github.io/pokegames/assets/sprites/miss.png'" >
                    </button>
                <p class="capitalize">{{pokemon.name}}</p>
        </div>
    </div>
</main>
