<main class="main">

    <div class="guessgrid">
      <p></p>
      <p class="skillr">{{weaponservice.s[3]}}</p>
      <p class="skillr">{{weaponservice.s[4]}}</p>
      <p class="skillr">{{weaponservice.s[5]}}</p>
  
      <p class="skillr">{{weaponservice.s[0]}}</p>
      <button type="menu" id="0" class={{weaponservice.g[0].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[0].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[0].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[0].nombre}}</p>
      </button>
      <button type="menu" id="1" class={{weaponservice.g[1].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[1].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[1].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[1].nombre}}</p>
      </button>
      <button type="menu" id="2" class={{weaponservice.g[2].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[2].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[2].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[2].nombre}}</p>
      </button>
  
      <p class="skillr">{{weaponservice.s[1]}}</p>
      <button type="menu" id="3" class={{weaponservice.g[3].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[3].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[3].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[3].nombre}}</p>
      </button>
      <button type="menu" id="4" class={{weaponservice.g[4].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[4].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[4].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[4].nombre}}</p>
      </button>
      <button type="menu" id="5" class={{weaponservice.g[5].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[5].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[5].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[5].nombre}}</p>
      </button>
  
      <p class="skillr">{{weaponservice.s[2]}}</p>
      <button type="menu" id="6" class={{weaponservice.g[6].correct}} (click)="selectweapon($event)"
        class="grid-item"><img src="../assets/sprites/{{weaponservice.g[6].nombre.toLowerCase()}}.png" height="100px"
          width="100px" alt="{{weaponservice.g[6].nombre}}"
          onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[6].nombre}}</p>
      </button>
      <button type="menu" id="7" class={{weaponservice.g[7].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[7].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[7].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[7].nombre}}</p>
      </button>
      <button type="menu" id="8" class={{weaponservice.g[8].correct}} (click)="selectweapon($event)" class="grid-item">
        <img src="../assets/sprites/{{weaponservice.g[8].nombre.toLowerCase()}}.png" height="100px" width="100px"
          alt="{{weaponservice.g[8].nombre}}" onerror="this.onerror=null; this.src='../assets/sprites/miss.png'">
        <p>{{weaponservice.g[8].nombre}}</p>
      </button>
    </div>
  </main>
  <button (click)="reroll()">REROLL</button>