<main #todo class="main">

    <div  class="guessgrid">
      <button class="botonayuda" (click)="help()">HELP</button>
      <img *ngFor="let number of [3,4,5]"
        class="skillr" src="https://darsanech.github.io/pokegames/assets/tipos/{{weaponservice.s[number]|titlecase}}.png" 
        alt="{{weaponservice.s[number]}}">


      <img class="skillr" src="https://darsanech.github.io/pokegames/assets/tipos/{{weaponservice.s[0]|titlecase}}.png" alt="{{weaponservice.s[0]}}">
      <button  *ngFor="let number of [0,1,2]"
        type="menu" id=number [disabled]="donini(number)" (click)="selectweapon(number)" class="grid-item wfguess">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{weaponservice.g[number].nombre}}.png"
        alt="{{weaponservice.g[number].nombre}}" onerror="this.onerror=null; this.src='https:/darsanech.github.io/pokegames/assets/extra/center.png'">
      </button> 
  
      <img class="skillr" src="https://darsanech.github.io/pokegames/assets/tipos/{{weaponservice.s[1]|titlecase}}.png" alt="{{weaponservice.s[1]}}">

      <button  *ngFor="let number of [3,4,5]"s
        type="menu" id=number [disabled]="donini(number)" (click)="selectweapon(number)" class="grid-item wfguess">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{weaponservice.g[number].nombre}}.png"
        alt="{{weaponservice.g[number].nombre}}" onerror="this.onerror=null; this.src='https:/darsanech.github.io/pokegames/assets/extra/center.png'">
      </button>
  
      <img class="skillr" src="https://darsanech.github.io/pokegames/assets/tipos/{{weaponservice.s[2]|titlecase}}.png" alt="{{weaponservice.s[2]}}">
      <button  *ngFor="let number of [6,7,8]"
        type="menu" id=number [disabled]="donini(number)" (click)="selectweapon(number)" class="grid-item wfguess">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{weaponservice.g[number].nombre}}.png"
        alt="{{weaponservice.g[number].nombre}}" onerror="this.onerror=null; this.src='https:/darsanech.github.io/pokegames/assets/extra/center.png'">
      </button>

    </div>
  <button hidden="true" (click)="reroll()">REROLLL</button>
  </main>